
.search-container
  .row
    .small-12.columns
      = form_tag root_path, method: :get do
        = text_field_tag 'q', params[:q], placeholder: 'SEARCH'
  .row.sample
    .small-12.columns
      - %w(REST JSON iOS7 UIKit Flat Gesture Authentication Animation Progress Core\ Data).each do |query|
        %span.query
          = link_to query, root_path(q: query)

.results-container
  .row.sort-control
    .small-12.columns
      %ul.button-group
        %li.button
          Recent
        %li.button
          Popular
        %li.button
          Starred

  - @pods.each do |pod|
    .row.result
      .small-12.columns
        .row
          .small-12.columns.title
            %h2
              = link_to pod.name, pod.homepage
              %span.version
                = pod.current_version
              %span.date
                released:
                = time_ago pod.current_version_released_at
        .row.summary
          .small-12.columns
            = pod.summary
        .row.stats
          .large-2.columns
            .key
              %i.fi-social-github
              Contoributors
            .value
              = pod.github_contributor_count || '-'
          .large-2.columns
            .key
              %i.fi-star
              Stargazers
            .value
              = pod.github_stargazer_count || '-'
          .large-2.columns
            .key
              %i.fi-clock
              Last Commit
            .value
              = time_ago pod.last_committed_at
          .large-2.columns
          .large-2.columns
          .large-2.columns
  .row
    = paginate @pods
