%h1 Listing pods

= paginate @pods
%table
  - @pods.each do |pod|
    %tr
      %td= link_to pod.name, pod_library_path(pod)
      %td= pod.summary
= paginate @pods

%br

= link_to 'New Pod library', new_pod_library_path
