
.search-container
  .row.collapse
    .small-12.columns
      = form_tag root_path, method: :get do
        = text_field_tag 'q', params[:q], placeholder: 'SEARCH'
  .row.collapse.sample
    .small-12.columns
      - %w(REST JSON iOS7 UIKit Flat Blur Gesture Authentication Animation Progress Core\ Data MapKit Bluetooth).each do |query|
        %span.query
          = link_to query, root_path(q: query)

.results-container
  .row.collapse.sort-control
    .small-12.columns
      %dl.sub-nav
        %dt ORDER BY:
        %dd.active
          %a Popularity
        %dd
          %a Contributors
        %dd
          %a Stargazers
        %dd
          %a Last Commit
  - @pods.each.with_index(1 + @pods.offset_value) do |pod, rank|
    .row.collapse.result
      .small-1.column.rank
        .rank-number
          = rank
      .small-9.columns
        .row.collapse
          .small-12.columns.title
            %h2
              = link_to pod.name, pod.homepage
              %span.version
                = pod.current_version
              %span.date
                released:
                = time_ago pod.current_version_released_at
        .row.collapse.summary
          .small-12.columns
            = pod.summary
        .row.collapse.stats
          .small-4.medium-2.columns
            .key
              %i.fi-social-github
              Contoributors
            .value
              = pod.github_contributor_count || '-'
          .small-4.medium-2.columns
            .key
              %i.fi-star
              Stargazers
            .value
              = pod.github_stargazer_count || '-'
          .small-4.medium-8.columns
            .key
              %i.fi-clock
              Last Commit
            .value
              = time_ago pod.last_committed_at
      .small-2.columns.text-center
        = link_to 'Docs', pod.documentation_url, class: 'button tiny'
        = link_to 'Spec', pod.documentation_url, class: 'button tiny'
  .row
    = paginate @pods

.footer
  .row.collapse
    .medium-4.columns
      = link_to 'Built by @luvtechno', 'https://github.com/luvtechno'
      %br
      and
      %br
      = link_to 'contributors', 'https://github.com/luvtechno/cocoapods_search/graphs/contributors'
    .medium-4.columns
      = link_to 'https://www.wantedly.com/companies/wantedly' do
        Sponsored
        by
        Wantedly, Inc.
        .logo
          = image_tag 'wantedly.png'
    .medium-4.columns
      .github-buttons
        %iframe{ src: "http://ghbtns.com/github-btn.html?user=luvtechno&type=follow&count=true",
    allowtransparency: "true", frameborder: "0", scrolling: "0", width: "165", height: "20" }
        %br
        %iframe{ src: "http://ghbtns.com/github-btn.html?user=luvtechno&repo=cocoapods_search&type=watch&count=true",
    allowtransparency: "true", frameborder: "0", scrolling: "0", width: "115", height: "20" }
