.row.collapse.sort-control
  .small-12.columns
    %dl.sub-nav
      %dt ORDER BY:
      - PodLibrary::ORDER_TYPES.each do |type|
        - if type == order_type
          %dd.active
            %a
              %i{ class: icon_class(type) }
              = type.titlecase
        - else
          %dd
            = link_to url_for(o: type, q: params[:q]) do
              %i{ class: icon_class(type) }
              = type.titlecase

#loading.row.collapse
  = image_tag 'loading.gif'
#results
  - pods.each.with_index(1 + pods.offset_value) do |pod, rank|
    = render 'pod', pod: pod, rank: rank
  .row.collapse
    .small-12.columns.text-center
      = paginate pods
